$text-color-green: #009b4d;
$text-color-ligth-gray: #2b292d99;
$text-color-ligth-ligth-gray: #fcf0e366;
$text-color-ligth-pink: #f1592b;
$text-color-blue: #3040c4;
$text-color-ligth-blue: #0189d1;
$text-color-ligth-blue-audiences: #00a1c612;
$text-color-white: #ffffff;
$border-bottom-color: #e3e3e3;
